{{#> felles/base}}

    {{#> felles/seksjon/hoved }}
        <h1>Vi har endret ungdomsprogramytelsen din</h1>

        {{#with endretStartdato}}
            <p>Fra {{endretTil}} får du penger fordi du er med i ungdomsprogrammet.</p>
            <p>
                Du fikk tidligere melding om at du skulle få penger fra og med {{endretFra}},
                men den datoen gjelder ikke lenger fordi du startet i ungdomsprogrammet {{endretTil}}.
            </p>
        {{/with}}
        {{#with endretSluttdato}}
            <p>Fra {{opphørStartDato}} får du ikke {{#if harFlyttetBakover}}lenger{{/if}} penger fordi du ikke lenger er med i ungdomsprogrammet.</p>
            <p>
                Du fikk tidligere melding om at du skulle få penger til og med {{endretFra}},
                men den datoen gjelder ikke lenger fordi du sluttet i ungdomsprogrammet {{endretTil}}.
            </p>
        {{/with}}

        {{#if muligTilbakekreving}}
            <p>Fordi du har fått en ny dato, kan det hende at du har fått mer penger enn du har rett på.
                Da må du i så fall betale disse pengene tilbake.</p>
            <p>Du får et nytt brev av oss hvis det skulle skje.</p>
        {{/if}}

        <p>Vedtaket er gjort etter arbeidsmarkedsloven § xx og forskrift om xxx § xx.</p>
    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
