{{#> felles/base}}


    {{#> felles/seksjon/hoved }}
        <h1>Nav har innvilget søknaden din om ungdomsytelse</h1>

        {{#if resultat.enDagsats}}
            <p>Du har rett til ungdomsytelse fra {{ytelseFom}} i {{antallDager}} dager.
                Du får utbetalt {{currency_no tilkjentePerioder.[0].dagsats true}} kroner dagen, før skatt.</p>
        {{else}}
            <p>Du har rett til ungdomsytelse fra {{ytelseFom}} i {{antallDager}} dager.</p>
            {{#each tilkjentePerioder}}
                <p>{{> felles/periode periode}} får du utbetalt {{currency_no dagsats true}} kroner dagen, før skatt.</p>
            {{/each}}
        {{/if}}

        <p>NAV utbetaler pengene innen den 25. i hver måned. Informasjon om utbetaling finner du under
            utbetalingsoversikten på "Min side".</p>

        <p>Du får ungdomsytelse fordi du er med ungdomsprogrammet. Ungdomsprogrammet skal sikre deg inntekt mens du
            samarbeider med veileder i NAV om tiltak som skal hjelpe deg med arbeid.</p>

        <p>Utbetalingene fra NAV kan endre seg etterhvert som du får eller mister inntekt. Det er derfor viktig at du
            melder i fra om endringer i din inntekt på <a href="https://nav.no/ungdomsytelse/endring">nav.no/ungdomsytelse/endring</a>
            og informerer veileder. Hvis du ikke
            gir beskjed om endringer i inntekten, kan NAV kreve penger tilbake, så det er viktig å gi beskjed med en
            gang det skjer endringer.</p>

        {{#if resultat.ettGbeløp}}
            Nav bruker grunnbeløpet på {{currency_no gbeløpPerioder.[0].gBeløp true}} kroner for å regne ut hvor mye du får.
        {{else}}
             <p>Nav bruker et grunnbeløp for for å regne ut hvor mye du får.</p>
            <ul>
                {{#each gbeløpPerioder}}
                    <li>{{> felles/periode periode}} bruker Nav grunnbeløpet på {{currency_no gBeløp true}} kroner.</li>
                {{/each}}
            </ul>
        {{/if}}

        {{#if resultat.lavSats}}
            Siden du er under {{satser.aldersgrenseLav}} år så får du {{satser.høy}} prosent av grunnbeløpet.
        {{else if resultat.høySats}}
            <p>Siden du er over {{satser.aldersgrenseLav}} år så får du {{satser.lav}} prosent av
                grunnbeløpet{{#if resultat.oppnårMaksAlder}} til måneden du fyller {{satser.aldersgrenseHøy}} år{{/if}}.</p>
        {{else if resultat.variendeSats}}
           <p>Du får {{satser.høy}} prosent av grunnbeløpet mens du er under {{satser.aldersgrenseLav}} år
                og {{satser.lav}} prosent av grunnbeløpet fra måneden etter du fyller {{satser.aldersgrenseLav}} år.</p>
        {{/if}}


        {{#if resultat.enDagsats}}
            <p>NAV regner med 260 virkedager per år utenom helger og ferie. For å regne ut hva du får per dag, deles
            årsbeløpet på antall dager.
            {{#with tilkjentePerioder.[0]}}
                Det betyr at du har rett på {{satsFaktor}} x {{currency_no gBeløp true}} =
                {{currency_no årsbeløp true}} kroner i året. Dette gir en dagsats på {{currency_no dagsats true}}
                    kroner.</p>
            {{/with}}
        {{else}}
            <p>NAV regner med 260 virkedager per år utenom helger og ferie. For å regne ut hva du får per dag, deles
                årsbeløpet på antall dager.</p>
            <ul>
                {{#each tilkjentePerioder}}
                    <li>{{> felles/periode periode}} har du rett på {{satsFaktor}} x {{currency_no gBeløp true}} =
                        {{currency_no årsbeløp true}} kroner i årsbeløp. Dette gir en dagsats på {{currency_no dagsats true}} kroner i perioden.
                    </li>
                {{/each}}
            </ul>
        {{/if}}


        <p>For å regne hva du får utbetalt i måneden ganges dagsatsen med antall virkedager i måneden. Du kan regne ut
            hva du får for en måned samt se flere eksempler på utregninger på
            <a href="https://nav.no/ungdomsytelse">nav.no/ungdomsytelse</a>
        </p>

        <p>Vedtaket er gjort etter folketrygdloven § X-Y.</p>

    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
