{{#> felles/base}}


    {{#> felles/seksjon/hoved }}
        <h1>Du får ungdomsprogramytelse</h1>

        {{#if resultat.enDagsats}}
            <p>Fra {{ytelseFom}} får du ungdomsprogramytelse på {{> felles/beløp tilkjentePerioder.[0].tilkjentYtelse.dagsats}} per dag utenom lørdag og søknad.
            </p>
        {{else}}
            <p>Du har rett til ungdomsytelse fra {{ytelseFom}} i {{antallDager}} dager.</p>
            {{#each tilkjentePerioder}}
                <p>{{> felles/periode periode}} får du utbetalt {{currency_no tilkjentYtelse.dagsats true}} kroner
                    dagen, før skatt.</p>
            {{/each}}
        {{/if}}

        <p>Pengene får du utbetalt én gang i måneden før den 10. i måneden.
            Den første utbetalingen får du måneden etter at du begynner i ungdomsprogrammet.
            Pengene du får, blir det trukket skatt av. </p>

        <p>
            Du finner mer informasjon om utbetalingen hvis du <a href="https://www.nav.no/min-side">logger inn på Min
            side på nav.no</a>.
        </p>

        <h2>Hvorfor får du ungdomsprogramytelsen?</h2>
        <p>Du får ytelsen fordi du er med i ungdomsprogrammet. Ytelsen gir deg en inntekt mens du deltar i
            ungdomsprogrammet.</p>
        <p>Du får penger gjennom ytelsen så lenge du er i ungdomsprogrammet, men du kan som hovedregel ikke få penger i
            mer enn ett år.</p>

        <p>Vedtaket er gjort etter arbeidsmarkedsloven § xx og forskrift om xxx § xx.</p>

        <h2>Hvordan regner vi oss fram til hvor mye penger du har rett på?</h2>
        <p>
            Når Nav regner ut hvor mye penger du kan ha rett på, bruker vi en bestemt sum som heter grunnbeløpet.
            Grunnbeløpet er bestemt av Stortinget, og det endrer seg hvert år.
        </p>
        {{#with tilkjentePerioder.[0].tilkjentYtelse}}
            {{#if resultat.lavSats}}
                <p>
                    Når du er under {{satser.aldersgrenseLav}} år, bruker vi grunnbeløpet ganger {{currency_no satser.lav}}.
                    Det vil si {{> felles/beløp årsbeløp}} i året.
                    Denne summen deler vi på 260 dager, fordi du ikke får penger for lørdager og søndager.
                </p>
            {{else if resultat.høySats}}
                <p>
                    Når du er over {{satser.aldersgrenseLav}} år, bruker vi grunnbeløpet ganger {{currency_no satser.høy}}.
                    Det vil si {{> felles/beløp årsbeløp}} i året.
                    Denne summen deler vi på 260 dager, fordi du ikke får penger for lørdager og søndager.
                </p>
            {{/if}}
            <p>Det vil si at du har rett på {{> felles/beløp dagsats}} per dag.</p>
            <p>Slik regner vi ut hvor mye penger du kan får per dag.</p>
            <p><a href="https://www.nav.no/ungdomsprogramytelse/beregning">Se eksempler i Ungdomsportalen på hvordan vi regner ut hvor mye penger du har rett på.</a></p>
        {{/with}}

        <h2>Meld fra til oss hvis du har inntekt i tillegg til ungdomsprogramytelsen </h2>
        <p>Hvis du har en annen inntekt i tillegg til ytelsen, er det veldig viktig at du sier fra til oss om det.</p>
        <p>
            Du får en SMS den 1. hver måned.
            Når du har fått SMS-en, logger du inn på Min side på nav.no og gir oss beskjed om hva du har hatt i inntekt måneden før.</p>
        <p>
            Når du har en inntekt, får du mindre penger gjennom ungdomsprogramytelsen.
            Likevel får du til sammen mer penger når du både har en inntekt og får ytelsen, enn hvis du bare får ytelsen.</p>

        <p><a href="https://www.nav.no/ungdomsportalen">Se hvordan du skal gi beskjed om inntekten din i Ungdomsportalen.</a></p>

    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
