{{#> felles/base}}


    {{#if ikkeStøttetBrevTekst}}
        <b>{{ikkeStøttetBrevTekst}}</b>
    {{/if}}
    {{#> felles/seksjon/hoved }}
        <h1>Du får ungdomsprogramytelse</h1>

        <p>
            Fra {{ytelseFom}}{{#if ytelseTom}} til {{ytelseTom}}{{/if}} får du ungdomsprogramytelse
            på {{> felles/beløp dagsats}} per dag utenom lørdag og søndag.
        </p>

        {{#each satsEndringer}}
            {{#if overgangTilHøySats}}
                <p>Fordi du fylte {{satsOgBeregning.aldersgrenseSatsendring}} år {{fom}}, får du mer penger fra denne
                    datoen. Da får du {{> felles/beløp dagsats}} per dag, utenom lørdag og søndag.</p>
            {{/if}}
            {{#if fødselBarn}}
                <p>Fordi du fikk barn {{fom}}, får du {{> felles/beløp barnetilleggSats}} mer {{#if fikkFlereBarn}}per barn{{/if}} fra denne datoen. Da får
                    du {{> felles/beløp dagsats}} per dag, utenom lørdag og søndag.</p>
            {{/if}}
            {{#if dødsfallBarn}}
                <p>Fordi du mistet barn {{fom}}, får du ikke barnetillegg på {{> felles/beløp barnetilleggSats}} fra denne
                    datoen. Da får du {{> felles/beløp dagsats}} per dag, utenom lørdag og søndag.</p>
            {{/if}}
        {{/each}}

        <p>
            Pengene får du utbetalt én gang i måneden før den 10. i måneden.
            Den første utbetalingen får du måneden etter at du begynner i ungdomsprogrammet.
            Pengene du får, blir det trukket skatt av.
        </p>

        <p>
            Du finner mer informasjon om utbetalingen hvis du <a href="https://www.nav.no/min-side">logger inn på Min
            side på nav.no</a>.
        </p>

        <h2>Hvorfor får du ungdomsprogramytelsen?</h2>
        <p>Du får ytelsen fordi du er med i ungdomsprogrammet. Ytelsen gir deg en inntekt mens du deltar i
            ungdomsprogrammet.</p>
        <p>Du får penger gjennom ytelsen så lenge du er i ungdomsprogrammet, men du kan som hovedregel ikke få penger i
            mer enn ett år.</p>

        <p>Vedtaket er gjort etter arbeidsmarkedsloven § xx og forskrift om xxx § xx.</p>

        <h2>Hvordan regner vi oss fram til hvor mye penger du har rett på?</h2>
        {{#with satsOgBeregning}}
            <p>
                Når Nav regner ut hvor mye penger du kan ha rett på, bruker vi en bestemt sum som heter grunnbeløpet.
                Grunnbeløpet er bestemt av Stortinget, og det endrer seg hvert år.
                Nå er grunnbeløpet på {{> felles/beløp grunnbeløp}}.
            </p>

            <p>
                Når du er {{#if kunHøySats}}over{{else}}under{{/if}} {{aldersgrenseSatsendring}} år, bruker vi grunnbeløpet ganger {{currency_no_3_dec beregning.faktor}}.
                Det vil si {{> felles/beløp beregning.årsbeløp}} i året.
                Denne summen deler vi på 260 dager, fordi du ikke får penger for lørdager og søndager.
            </p>
            <p>Det vil si at du har rett på {{> felles/beløp beregning.grunnsats}} per dag. Det er dette vi kaller dagsatsen.</p>
            {{#with overgangTilHøySats}}
                <p>
                    Når du er over {{satsOgBeregning.aldersgrenseSatsendring}} år, bruker vi grunnbeløpet
                    ganger {{currency_no_3_dec faktor}} som blir {{> felles/beløp årsbeløp}} i året.
                </p>
                <p>Det vil si at du har rett på {{> felles/beløp grunnsats}} per dag.</p>
            {{/with}}
        {{/with}}

        {{#with satsOgBeregning.barnetillegg}}
            <p>Fordi du har {{antall}} barn, får du i tillegg {{> felles/beløp grunnsats}} per dag i barnetillegg.
                Det vil si at du til sammen får {{> felles/beløp grunnsatsTotal}} per dag.</p>
        {{/with}}

        <h2>Meld fra til oss hvis du har inntekt i tillegg til ungdomsprogramytelsen </h2>
        <p>Hvis du har en annen inntekt i tillegg til ytelsen, er det veldig viktig at du sier fra til oss om det.</p>
        <p>
            Du får en SMS den 1. hver måned.
            Når du har fått SMS-en, logger du inn på Min side på nav.no og gir oss beskjed om all inntekt du har hatt måneden før.</p>
        <p>
            Når du har en inntekt, får du mindre penger gjennom ungdomsprogramytelsen.
            Likevel får du til sammen mer penger når du både har en inntekt og får ytelsen, enn hvis du bare får
            ytelsen.</p>

    {{/felles/seksjon/hoved}}

    {{> felles/footer/footer-vedtak }}

{{/felles/base}}
